<div class="main">
    <h1>Get your free Tezos Domain.</h1>

    <h3 class="mb-4">Powered by <a [attr.href]="config.appUrl">Tezos Domains</a></h3>

    <div class="mb-4">
        <div *ngIf="account">
            <div>Connected with {{ account.address }}</div>

            <button class="btn btn-light mt-1" (click)="disconnect()">Disconnect</button>
        </div>
        <div *ngIf="!account">
            <button class="btn btn-primary" (click)="connect()">Connect</button>
        </div>
    </div>

    <div
        class="alert mb-3"
        *ngIf="state"
        [ngClass]="{ 'alert-info': state === 'info', 'alert-danger': state === 'error', 'alert-success': state === 'success' }"
        [innerHTML]="message"
    ></div>

    <form [formGroup]="form">
        <div class="input-group mb-3">
            <input formControlName="label" type="text" class="form-control form-control-lg" id="label" placeholder="Enter your name" />
            <div class="input-group-append">
                <span class="input-group-text">{{ config.parentDomain }}</span>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary mr-3" [disabled]="form.disabled || !account" (click)="claim()">Claim</button>
            <button type="submit" class="btn btn-primary" [disabled]="form.disabled || !account" (click)="release()">Release</button>
        </div>
    </form>
</div>
